<div class="hun-section-testimonial layout-1 m-b-130">
  <div class="inner-section">
    <div class="bg-sec parallax100"><span class="inner-parallax"
                                          style="background-image: url(../../../assets/images/bg-01.jpg);"></span></div>

    <div class="container">
      <div class="wrap-testimonial">
        <div class="slide-ava js-call-slick" data-animate="true">
          <div id="ava-tes-01" class="slide-slick"
               data-slick='{"asNavFor": "#text-tes-01", "centerMode": true, "centerPadding": "0px", "focusOnSelect": true, "fade": false, "speed": 500, "dots": false, "arrows": false, "autoplay": false, "autoplaySpeed": 5000, "infinite": true, "slidesToShow": 3, "slidesToScroll": 1}'>


          </div>
        </div>

        <div class="slide-text js-call-slick" data-animate="true">
          <div id="text-tes-01" class="slide-slick"
               data-slick='{"asNavFor": "#ava-tes-01", "adaptiveHeight": true, "fade": true, "speed": 500, "dots": false, "arrows": false, "autoplay": false, "autoplaySpeed": 5000, "infinite": true, "slidesToShow": 1, "slidesToScroll": 1}'>

            <div class="item-slick">
              <div class="content-tes" data-appear="fadeInUp" data-delay="0" style="font-size: 300%">
                Explore our exhibitions!
              </div>
              <div class="text-center p-t-50 " data-appear="fadeInUp" data-delay="0">
                <a routerLink="/expos" routerLinkActive="active"
                   class="hun-button size-normal shape-round style-fill-color hover-dark px-5 ">
                  Start
                </a>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
