

<!-- Page Title -->
<div class="hun-section-page-title layout-1 hide-breadcrumbs no-parallax m-b-130">
  <div class="inner-section">
    <div class="bg-img parallax100"><span class="inner-parallax" style="background-image: url(../../assets/images/bg-01.jpg);"></span></div>

    <div class="container">
      <h2 class="main-title">
        About Us
      </h2>

      <ul class="breadcrumbs">
        <li>
          <a href="#">
            <span>Home</span>
          </a>

          <span class="breadcrumb-divider"></span>
        </li>

        <li>
          <span> About Us</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end Page Title -->
<!-- counter -->
<div class="hun-section-counter layout-1 set-bg-light p-t-120 p-b-115">
  <div class="inner-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 pb-0">
          <div class="hun-element-heading--type-1 align-center m-b-75">
            <h3 class="title">
              We think about your experience
            </h3>

            <div class="description">
              We are engineering students passionate about making great exhibition experience, our goal is the growth of the community and the improvement of the quality of exhibitions.
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-4">
          <div class="item-counter">
            <div class="number-counter">
              <span class="js-counter">98</span>%
            </div>

            <h4 class="title-counter">
              User Satisfaction
            </h4>
          </div>
        </div>

        <div class="col-md-10 col-lg-4">
          <div class="item-counter">
            <div class="number-counter">
              <span class="js-counter">24</span>/<span class="js-counter">7</span>
            </div>

            <h4 class="title-counter">
              Support
            </h4>
          </div>
        </div>

        <div class="col-md-10 col-lg-4">
          <div class="item-counter">
            <div class="number-counter">
              <span class="js-counter">159</span>+
            </div>

            <h4 class="title-counter">
              Users
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end counter -->
<!-- Team -->
<div class="hun-section-team layout-1 p-t-120 p-b-100">
  <div class="inner-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 pb-0">
          <div class="hun-element-heading--type-1 align-center m-b-75">
            <h3 class="title">
              Meet Our Team
            </h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-lg-4">
          <div class="member">
            <div class="pic-member">
              <a href="#">
                <img src="../../assets/images/team-02.jpg" alt="IMG">
              </a>
            </div>

            <div class="text-member">
              <div class="social-links">
                <a href="#" class="item-social">
                  <i class="social-icon fa fa-facebook"></i>
                </a>

                <a href="#" class="item-social">
                  <i class="social-icon fa fa-twitter"></i>
                </a>

                <a href="#" class="item-social">
                  <i class="social-icon fa fa-pinterest-p"></i>
                </a>

                <a href="#" class="item-social">
                  <i class="social-icon fa fa-linkedin"></i>
                </a>
              </div>

              <h4 class="name-member">
                <a href="#">
                 Rihab Cheberli
                </a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-4">
          <div class="member">
            <div class="pic-member">
              <a href="#">
                <img src="../../assets/images/team-03.jpg" alt="IMG">
              </a>
            </div>

            <div class="text-member">
              <div class="social-links">
                <a href="#" class="item-social">
                  <i class="social-icon fa fa-facebook"></i>
                </a>

                <a href="#" class="item-social">
                  <i class="social-icon fa fa-twitter"></i>
                </a>

                <a href="#" class="item-social">
                  <i class="social-icon fa fa-pinterest-p"></i>
                </a>

                <a href="#" class="item-social">
                  <i class="social-icon fa fa-linkedin"></i>
                </a>
              </div>

              <h4 class="name-member">
                <a href="#">
                  Anas Hamrouni
                </a>
              </h4>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-4">
          <div class="member">
            <div class="pic-member">
              <a href="#">
                <img src="../../assets/images/team-04.jpg" alt="IMG">
              </a>
            </div>

            <div class="text-member">
              <div class="social-links">
                <a href="#" class="item-social">
                  <i class="social-icon fa fa-facebook"></i>
                </a>

                <a href="#" class="item-social">
                  <i class="social-icon fa fa-twitter"></i>
                </a>

                <a href="#" class="item-social">
                  <i class="social-icon fa fa-pinterest-p"></i>
                </a>

                <a href="#" class="item-social">
                  <i class="social-icon fa fa-linkedin"></i>
                </a>
              </div>

              <h4 class="name-member">
                <a href="#">
                  Wafé Selmi
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Team -->
