<!-- Footer -->
<footer class="hun-section-footer hun-footer layout-1">
  <div class="content-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-4">
          <div class="widget">
            <h3 class="title-widget">
              About polyglart
            </h3>

            <div class="text-widget">
              <p style="max-width: 309px;">
                Tunis, Tunisia
              </p>

              <p class="m-b-30">
                Phone: <a href="#">(+216) 99 999 999</a>
                <br>
                Email: <a href="#">polyglart@info.tn</a>
              </p>

              <div class="hun-element-social--type-1 ">
                <a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                <a href="#" class="social-link"><i class="fa fa-pinterest-p"></i></a>
                <a href="#" class="social-link"><i class="fa fa-youtube-play"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-xl-4">
          <div class="widget">
            <h3 class="title-widget">
              Our Links
            </h3>

            <div class="text-widget">
              <ul>
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                <li><a routerLink="/expos" routerLinkActive="active">exhibition Sites</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li><a routerLink="/register" routerLinkActive="active">Sign Up</a></li>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-xl-4">
          <div class="widget">
            <h3 class="title-widget">
              Newsletter
            </h3>

            <div class="text-widget">
              <div class="subscribe-form-01">
                <div class="description-form">
                  Get a weekly digest of great articles
                </div>

                <form>
                  <input type="text" placeholder="email@example.com">

                  <button>
                    Submit
                  </button>
                </form>

                <div class="note-form">
                  We'll never share your email address
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-footer">
    <div class="container">
      <div class="content-copyright">
        <div class="col-left">
          Copyright © 2022 All rights reserved
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end Footer -->
