<div class="hun-section-page-title layout-1 hide-breadcrumbs no-parallax m-b-130">
  <div class="inner-section">
    <div class="bg-img parallax100"><span class="inner-parallax" style="background-image: url(../../assets/images/bg-01.jpg);"></span></div>

    <div class="container">
      <h2 class="main-title">
        Contact Us
      </h2>

      <ul class="breadcrumbs">
        <li>
          <a href="#">
            <span>Home</span>
          </a>

          <span class="breadcrumb-divider"></span>
        </li>

        <li>
          <span> Contact Us</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end Page Title -->

<!-- Contact -->
<div class="hun-section-contact layout-1 p-t-130 p-b-130">
  <div class="inner-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="text-sec">
            <h3 class="title-sec">
              Get in Touch
            </h3>

            <div class="content-contact">
              <div class="description max-w-400">
                <p>
                  You can contact us or send us your feedback through this form. We will reply ASAP
                </p>
              </div>


              <ul class="list-contact">
                <li>
                  <i class="ion-android-call"></i>
                  <a href="#">(+216) 99 999 999</a>
                </li>

                <li>
                  <i class="ion-android-mail"></i>
                  <a href="#">Polyglart@info.tn</a>
                </li>

                <li>
                  <i class="ion-android-pin"></i>
                  4000 Tunis, Tunisia
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="hun-element-form--type-2">
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <input class="input-field" type="text" placeholder="Name *">
                </div>

                <div class="col-sm-6">
                  <input class="input-field" type="text" placeholder="E-mail *">
                </div>

                <div class="col-sm-6">
                  <input class="input-field" type="text" placeholder="Company">
                </div>

                <div class="col-sm-6">
                  <input class="input-field" type="text" placeholder="Phone">
                </div>

                <div class="col-12">
                  <textarea class="input-field" placeholder="Your Message *"></textarea>

                  <button>
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Contact -->
