  <article class="hun-element-post--type-1">
    <div class="pic-post">
      <a href="#"><img src="../../../assets/images/post-07.jpg" alt="IMG"></a>

      <span class="date-post">
												{{expo.date}}
      </span>
    </div>

    <div class="text-post">
      <h4 class="title-post">
        <a href="#">{{expo.name}}</a>
      </h4>

      <div class="description-post">
        {{expo.desc}}
      </div>

      <a routerLink="/expoSite/{{expo.id}}" routerLinkActive="active" class="link-post">
        Read more
      </a>
    </div>

  </article>
