<!-- Header -->
<header class="hun-section-header hun-header layout-1 style-overlay text-light align-right style-sticky">
  <div class="container-header">
    <div class="wrapper-header element-for-stick">
      <div class="container">
        <div class="logo-header">
          <a routerLink="/" routerLinkActive="active" class="text-logo">polyglArt</a>

          <a routerLink="/" routerLinkActive="active" class="main-logo">
            <img src="../../assets/images/icons/logo-02.png" alt="LOGO">
          </a>

          <a routerLink="/" routerLinkActive="active" class="mobile-logo">
            <img src="../../assets/images/icons/logo-02.png" alt="LOGO">
          </a>

          <a routerLink="/" routerLinkActive="active" class="sticky-logo">
            <img src="../../assets/images/icons/logo-02.png" alt="LOGO">
          </a>
        </div>

        <nav class="main-navigation">
          <ul class="list-menu">
            <li class="menu-item menu-item-has-children">
              <a routerLink="/" routerLinkActive="active">
                Home
              </a>
            </li>

            <li class="menu-item">
              <a routerLink="/about" routerLinkActive="active">
                About
              </a>
            </li>


            <li class="menu-item menu-item-has-children">
              <a routerLink="/expos" routerLinkActive="active">
                Exhibitions
              </a>
            </li>

            <li class="menu-item">
              <a routerLink="/contact" routerLinkActive="active">
                Contact
              </a>
            </li>
          </ul>
        </nav>

        <div class="group-feature">
          <div class="buttons-header">
            <a routerLink="/register" routerLinkActive="active"
               class="hun-button size-small shape-round style-border-white hover-light">
              Sign up
            </a>
            <a routerLink="/login" routerLinkActive="active"
               class="hun-button size-small shape-round style-border-white hover-light" style="margin-left: 10px">
              Sign in
            </a>
            <!--            <a *ngIf="username">{{username}}</a>-->
            <!--            <a *ngIf="username" (click)="logOut()" class="hun-button size-small shape-round style-border-white hover-light">-->
            <!--              Logout-->
            <!--            </a>-->
          </div>

          <div class="hun-menu-mobile">
            <a href="#" class="btn-toggle-menu"><span></span></a>

            <div class="mobile-navigation">
              <nav class="mobile-menu">
                <ul class="list-menu">
                  <li class="menu-item menu-item-has-children">
                    <a routerLink="/" routerLinkActive="active">
                      Home
                    </a>
                  </li>

                  <li class="menu-item">
                    <a routerLink="/about" routerLinkActive="active">
                      About
                    </a>
                  </li>

                  <!--            <li class="menu-item menu-item-has-children">-->
                  <!--              <a href="#">-->
                  <!--                exhibition events-->
                  <!--              </a>-->
                  <!--            </li>-->

                  <li class="menu-item menu-item-has-children">
                    <a routerLink="/expos" routerLinkActive="active">
                      Exhibitions
                    </a>
                  </li>

                  <li class="menu-item">
                    <a routerLink="/contact" routerLinkActive="active">
                      Contact
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end Header -->
