<div class="hun-page">

  <!-- 404 -->
  <div class="hun-section-404 layout-1 p-t-100 p-b-130">
    <div class="inner-section">
      <div class="container">
        <div class="pic-sec">
          <img src="../../assets/images/icons/404.jpg" alt="IMG">
        </div>

        <div class="text-sec">
          <h3 class="title">
            Page Not Found
          </h3>

          <div class="description">
            Sorry, we couldn't find the content you were looking for.
          </div>
        </div>

        <div class="text-center">
          <a routerLinkActive="active" routerLink="/" class="hun-button size-small shape-round style-fill-color hover-dark">
            Back Home
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end 404 -->


</div>
