
<!-- Icon-box -->
<div class="hun-section-icon-box layout-2 m-b-75">
  <div class="inner-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 pb-0">
          <div class="hun-element-heading--type-1 align-center m-b-65">
            <h3 class="title">
              Find several exhibitions
            </h3>

            <div class="description">
            They are ready for you to visit!
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="item-icon-box">
            <div class="icon-item">
              <i class="ion-shuffle"></i>
            </div>

            <div class="text-item">
              <h4 class="title-item">
                <a href="#">Promote your exhibition site</a>
              </h4>

              <div class="description-item">
                We offer a platform for young artists and small exhibitions.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
          <div class="item-icon-box">
            <div class="icon-item">
              <i class="ion-social-buffer"></i>
            </div>

            <div class="text-item">
              <h4 class="title-item">
                <a href="#">Find useful feedbacks about exhibitions</a>
              </h4>

              <div class="description-item">
                This will save your time, as you'll visit well rated exhibitions.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
          <div class="item-icon-box">
            <div class="icon-item">
              <i class="ion-social-dropbox"></i>
            </div>

            <div class="text-item">
              <h4 class="title-item">
                <a href="#">Find several perfect exhibitions</a>
              </h4>

              <div class="description-item">
                They adjust to your taste!
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- end Icon-box -->
