<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>
<div class="hun-section-icon-box layout-2 m-b-75">
  <div class="inner-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 pb-0">
          <div class="hun-element-heading--type-1 align-center m-b-65">
            <h3 class="title">
              Find several exhibitions
            </h3>

            <div class="description">
              Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a mauris vitae elit. Class aptent taciti litora torquent per idunt auctor a ornare odio.
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="item-icon-box">
            <div class="icon-item">
              <i class="ion-shuffle"></i>
            </div>

            <div class="text-item">
              <h4 class="title-item">
                <a>Promote your exhibition</a>
              </h4>

              <div class="description-item">
                Nam nec tellus a odio tincidunt auctor. Class aptent taciti litora torquent per idunt auctor a ornare odio.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
          <div class="item-icon-box">
            <div class="icon-item">
              <i class="ion-social-buffer"></i>
            </div>

            <div class="text-item">
              <h4 class="title-item">
                <a>Find useful feedbacks about exhibitions</a>
              </h4>

              <div class="description-item">
                Nam nec tellus a odio tincidunt auctor. Class aptent taciti litora torquent per idunt auctor a ornare odio.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
          <div class="item-icon-box">
            <div class="icon-item">
              <i class="ion-social-dropbox"></i>
            </div>

            <div class="text-item">
              <h4 class="title-item">
                <a>Find several perfect exhibitions</a>
              </h4>

              <div class="description-item">
                Nam nec tellus a odio tincidunt auctor. Class aptent taciti litora torquent per idunt auctor a ornare odio.
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
