<!-- Page Title -->
<div class="hun-section-page-title layout-1 hide-breadcrumbs no-parallax">
  <div class="inner-section">
    <div class="bg-img parallax100"><span class="inner-parallax"
                                          style="background-image: url(../../assets/images/bg-01.jpg);"></span></div>

    <div class="container">
      <h2 class="main-title">
        Sign In
      </h2>

      <ul class="breadcrumbs">
        <li>
          <a href="#">
            <span>Home</span>
          </a>

          <span class="breadcrumb-divider"></span>
        </li>

        <li>
          <span> Sign In</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end Page Title -->

<!-- Form -->
<div class="hun-section-form layout-1 p-t-120 p-b-130">
  <div class="inner-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 pb-0">
          <div class="hun-element-heading--type-1 align-center m-b-75">
            <h3 class="title">
              Welcome back!
            </h3>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-6 col-img d-none d-lg-block">
          <div class="img-sec">
            <img src="../../assets/images/sign-in.png" alt="IMG">
          </div>
        </div>

        <div class="col-sm-10 col-lg-6 col-form align-self-center">
          <div class="hun-element-form--type-1">
            <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <label>
                <span class="name-field">Email</span>
                <input type="text" placeholder="info@example.com" formControlName="username" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
              </label>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>

              <label>
                <span class="name-field ">Password</span>
                <input type="password" placeholder="**********" formControlName="password" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
              </label>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>

              <label>
									<span class="name-field">
										You don't have an account yet ? <a routerLink="/register">Sign up</a>
									</span>

              </label>

              <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Form -->
