<div class="hun-section-mainbanner layout-2 m-b-125">
  <div class="inner-section">
    <div class="bg-img parallax100"><span class="inner-parallax"
                                          style="background-image: url(../../../assets/images/bg-02.jpg);"></span></div>

    <div class="hun-element-background--type-1"></div>

    <div class="container">
      <div class="text-banner js-call-magnificpopup">
        <h2 class="title-banner wow fadeInDown" data-wow-delay="0.2s">
          Find exhibitions to visit today!
        </h2>

        <div class="description-banner wow fadeInUp" data-wow-delay="1s">
          We are specialized in organising exhibitions, and we give the opportunity to match with the exhibition events.
        </div>

        <div class="buttons-banner wow zoomIn" data-wow-delay="1.8s">
          <a routerLink="/login" routerLinkActive="active" class="btn-slide fill-style">
            Sign in
          </a>

          <a routerLink="/about" routerLinkActive="active" class="btn-slide border-style">
            About us
          </a>
        </div>

        <a routerLink="/register" routerLinkActive="active" class="btn-play mfp-iframe  wow rotateIn"
           data-wow-delay="2.6s">
          <h6> Start the Journey</h6>
        </a>
      </div>
    </div>
  </div>
</div>
